body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;

  background: url(images/header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

h1{
	font-size: 3rem;
	color: #eee;
}

hr{
	border-color: #ff185a;
	border-width: 2px;
	max-width: 65px;

}

.buffer {
	height: 10rem;
}

.btn {
	font-weight: 700;
	border-radius: 300px;
	text-transform: uppercase;
}

.btn-xl {
	padding: 1rem 2rem;
}

.btn-primary {
	background-color: #ff185a;
	border-color: #ff185a;
}

.btn-primary:hover {
	background-color: #2b263d;
	border-color: #2b263d;
	border-width: 4px;
}